@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #151917;
  @apply overflow-hidden;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-lg bg-slate-400 shadow-inner;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-slate-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
